<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Nodus Portal</a>
    </div>
</div>

<div class="nav-scrollable" @onclick="NotifyClicked">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                Register Project
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                Gallery
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="display/current">
                My Project
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter] public EventCallback OnMenuItemClicked { get; set; }

    private async Task NotifyClicked()
    {
        if (OnMenuItemClicked.HasDelegate)
        {
            await OnMenuItemClicked.InvokeAsync();
        }
    }
}
